<template>
    <b-container fluid>
        <div v-if="loading" class="d-flex justify-content-center mb-3 spinner">
            <b-spinner label="Loading..."></b-spinner>
        </div>
        <b-row v-else>
            <b-col sm="3" class="filters-container">
                <h4>Filtrar</h4>

                <b-row>
                    <label for="search-input">Buscar por nombre</label>
                    <b-form-input id="search-input" type="search" v-model="search" placeholder="nombre..."></b-form-input>                

                    <b-form-group label="Filtrar por sexo">
                    <b-form-checkbox-group
                        v-model="sexFilter"
                        :options="sexOptionsChecks"
                        stacked>
                        </b-form-checkbox-group>
                    </b-form-group>
                </b-row>

                <b-row>
                    <label for="range-1">Edad mínima: {{this.ageMin}}</label>
                    <b-form-input id="range-1" v-model="ageMin" type="range" min="0" max="100"></b-form-input>
                    <label for="range-1">Edad máxima: {{this.ageMax}}</label>
                    <b-form-input id="range-1" v-model="ageMax" type="range" min="0" max="100"></b-form-input>
                </b-row>
            </b-col>

            <b-col sm="9" class="table-container">
                <b-row class="select-pagination-row">
                    <span>Mostrando {{perPage}} items por página</span>
                    <b-form-select v-model="perPage" :options="pageSelectoptions" size="sm"></b-form-select>
                </b-row>

                <b-table striped hover id="passenger-table"
                    :items="searchOnTable"
                    :fields="items"
                    :per-page="perPage"
                    :current-page="currentPage">
                </b-table>
                <b-row>
                    <b-col sm="8">
                        <b-pagination size="sm"
                            v-model="currentPage"
                            :total-rows="rows"
                            :per-page="perPage"
                            aria-controls="passenger-table">
                        </b-pagination>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
import appConfig from "@/config/applicationConfig.js";
import axios from "axios";

export default {
    name: 'TitanicTable',
    data: () => ({
        //Sex checkboxes options
        sexOptionsChecks: [
          { text: 'Mujer', value: 'female' },
          { text: 'Hombre', value: 'male' }
        ],
        //table format
        items: [
            { key: 'fields.name', label: 'Nombre', 'class': 'text-left', sortable: true },
            { key: 'fields.age', label: 'Edad', 'class': 'text-left', sortable: false },
            { key: 'fields.sex', label: 'Sexo', 'class': 'text-left', sortable: false, formatter: value => { return value === 'female' ? 'Mujer' : 'Hombre' } }
        ],
        //Pagination select options
        pageSelectoptions: [
            { value: 5, text: '5' },
            { value: 15, text: '15' },
            { value: 20, text: '20' }
        ],
        //Pagination controls
        perPage: 5,
        currentPage: 1,

        loading: true,
        titanicData: null,
        searchOnTable: [],
        search: "",
        ageMin: "0",
        ageMax: "100",
        sexFilter: [],
    }),
    mounted() {
        axios.get(appConfig.API_URL.titanic).then((response) => {
                this.titanicData = response.data.records;
                this.searchOnTable = this.titanicData;
                this.loading = false;
            })
            .catch((error) => {
                console.log(error);
            });
    },
    methods: {
        applyFilter() {
            let filters = []

            if (this.search.length > 0) {
                filters.push(this.filterByName)
            }

            if (parseInt(this.ageMin) > 0 || parseInt(this.ageMax)) {
                filters.push(this.filterByAge)
            }

            if (this.sexFilter.length !== 0) {
                filters.push(this.filterBySex)
            }
            
            this.searchOnTable = this.titanicData.filter((item) =>
                this.filterItem(item, filters)
            ); 
        },
        filterItem (item, filtersToApply) {
            for (let indexOfFilter in filtersToApply) {
                if (!filtersToApply[indexOfFilter](item)) {
                    return false
                }
            }

            return true
        },
        toLower(text) {
            return text.toString().toLowerCase()
        },
        filterByName(item) {
            return this.toLower(item.fields.name).includes(this.toLower(this.search))
        },
        filterByAge(item) {
            return (
                parseInt(item.fields.age) >= parseInt(this.ageMin) &&
                parseInt(item.fields.age) <= parseInt(this.ageMax)
            );
        },
        filterBySex(item) {
            return this.sexFilter.length > 0 ? this.sexFilter.includes(item.fields.sex) : true
        }
    },
    computed: {
        rows () {
            return this.searchOnTable.length
        }
    },
    watch: {
        search: function () {
            this.applyFilter()
        },
        ageMin: function () {
            this.applyFilter()
        },
        ageMax: function () {
            this.applyFilter()
        },
        sexFilter: function () {
            this.applyFilter()
        },
    }
};
</script>

<style lang="scss" scoped>
    legend,
    label,
    span {
        font-size: 12px;
        font-weight: 500;
        text-align: left;
    }
    
    .container-fluid {
        .spinner {
            height: 60vh;
            align-items: center;
        }
        .row {
            .filters-container {
                padding: 0 15px;
                text-align: left;

                .row {
                    margin: 0;

                    #search-input {
                        margin-bottom: 15px;
                    }
                }
            }

            .select-pagination-row {
                align-items: center;
                margin-bottom: 10px;

                span {
                    margin: 0 10px 0 15px;
                }
                
                select {
                    max-width: 60px;
                }
            }

            .pagination {
                margin: 0;
            }

            .table-container {
                padding-left: 10px;
            }
        }
    }
</style>
