/**
 * Se desea obtener una tabla que contenga el listado de personas que viajaron al titanic. Done!
 * En la tabla se debe imprimir el nombre de la persona, la edad y el sexo. Done!
 * Se requiere un campo de texto para poder filtrar las personas por nombre. Done!
 * Se requiere un filtro slider para rango de edades. Se debe poder controlar minimo y maximo de rango con el slider. Done!
 * Se requieren dos checkbox para filtrar hombres y mujeres. Done!
 * La misma tabla debe estar paginada. Opciones de 5, 15, 20 resultados. Done!
 * Se debe poder navegar entre cada pagina de la tabla con dos botones. Done!
 * Aplicar una UI a gusto. Done!
 */
<template>
    <div id="app">
        <img alt="Vue logo" src="./assets/logo.png" />
        <TitanicTable></TitanicTable>
    </div>
</template>

<script>
import TitanicTable from "@/components/TitaticTable.vue";

export default {
    name: "App",
    components: {
        TitanicTable,
    }
};
</script>

<style>
    #app {
        text-align: center;
    }
</style>
